<div class="container">	
	<h2 class="employees-title">{{title}}</h2>
	<div class="add-new">
		<a [routerLink]="['/add-new-employee']" >Add New Employee</a>
	</div>
	<div class="employees-records">
		<!-- <ul class="employees-record">
			<li *ngFor="let employee of employees"
				[routerLink]="['/employee-detail', employee.id]"
			>
				<span class="employee-id">{{employee.id}}</span><span class="employee-fname"> {{employee.firstName}}</span>
				<span class="view-detail">View Detail</span> 
			</li>
		</ul> -->
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Fisrt Name</th>
					<th>Last Name</th>
					<th>Phone</th>
					<th>Details</th>
					<th>Edit Data</th>
					<th>Delete Record</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let employee of employees">
					<td>{{employee.id}}</td>
					<td>{{employee.firstName}}</td>
					<td>{{employee.lastName}}</td>
					<td>{{employee.phone}}</td>
					<td>
						<a [routerLink]="['/employee-detail', employee.id]">View Detail</a>
					</td>
					<td>
						<a [routerLink]="['/add-new-employee', employee.id]">Edit</a>
					</td>
					<td><a class="delete" (click)="removeRecord(employee.id)" >Delete</a></td>
				</tr>
			</tbody>
		</table>

	</div>
	<!-- <div class="more-data" *ngIf="employeesLength > 10" >
		<ul class="pagination">
	    	<li><a (click)="secondTen()" >1</a></li>
	    	<li><a (click)="thirdTen()" >2</a></li>
	    	<li><a (click)="forthTen()" >3</a></li>
	  	</ul>
	</div> -->
</div>	

<!-- *********  Employee Detail Component which is the child of this Component  ***********
 -->
<!-- <employee-detail></employee-detail>
 -->